*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  padding: 20px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  display: flex;
  justify-content: space-around;
  row-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.card {
  border: 1px solid ;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px 0px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 5px 15px 5px #000000; 
box-shadow: 0px 5px 15px 5px #000000

}
.prezzo {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(16, 166, 16);
}
 
.chi {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status {
  background-color: lightgray;
  width: 198px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.compra {
  width: 60%;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  background-color: wheat;
  transition: background-color 0.5s, border-radius 0.5s;
}
.compra:hover{
  cursor: pointer;
  background-color: orange;
  border-radius: 0;
}